
.main a:hover {
  text-decoration: none;
}

i {
  position: relative;
}

p:hover i {
  left: 2px;
  top: -2px;
}

h1:hover {
  text-decoration: underline;
}

/* in progress */

p i {
position: relative;
}

.main ul li:nth-child(even) {

}
