/* insert code in progress */

p > b {
  color: purple;
}

ul > li > i {
  text-decoration: underline solid black;
}

h1 + h2 {
  color: green;
}

ol ~ h3 {
  border: 1px solid blue;
  padding: 5px;
}

p > i {
  color: blue;
}

/* in class */

h2 + h3 {
  text-decoration: underline dotted red;
  margin-top: 8px;
}

ul ~ p {
  border: 1px dotted black;
  padding: 20px;
}

ul > li > ul > li {
  text-decoration: underline;
}

